@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {


  .investorIntroBg {

    background: linear-gradient(to top,
        #F6F6F6 0%,
        #F6F6F6 40%,
        white 40%,
        white 100%);
  }

  .welcomeTextOnImgBlc {
    text-shadow: 0.5px 0.5px 5px black;
  }

  .welcomeTextOnImg {
    text-shadow: 0.5px 0.5px 5px white;
  }

  .timelineBubble {
    text-shadow: 1px 1px 3px gray;
  }

  /* tilia-plan */
  .ninth-floor{
    clip-path: polygon(42.3% 22.6%, 42.3% 16.7%, 55.7% 16.7%, 55.7% 22.6%, 42.3% 22.6%);
  }

  .eight-floor{
    clip-path: polygon(40.7% 29.1%, 40.7% 23.0%, 55.7% 23.0%, 55.7% 29.1%, 40.7% 29.1%);
  }

  .seventh-floor{
    clip-path: polygon(55.7% 35.7%, 40.7% 35.7%, 40.7% 29.6%, 55.7% 29.6%, 55.7% 35.7%);
  }

  .sixth-floor{
    clip-path: polygon(55.7% 42.3%, 40.7% 42.3%, 40.7% 36.2%, 55.7% 36.2%, 55.7% 42.3%);
  }

  .fifth-floor{
    clip-path: polygon(55.7% 48.9%, 40.7% 48.9%, 40.7% 42.8%, 55.7% 42.8%, 55.7% 48.9%);
  }

  .fourth-floor{
    clip-path: polygon(55.7% 55.5%, 40.7% 55.5%, 40.7% 49.4%, 55.7% 49.4%, 55.7% 55.5%);
  }

  .third-floor{
    clip-path: polygon(55.7% 62.1%, 40.7% 62.1%, 40.7% 55.9%, 55.7% 55.9%, 55.7% 62.1%);
  }

  .second-floor{
    clip-path: polygon(40.7% 68.7%, 40.7% 62.5%, 53.1% 62.5%, 53.1% 68.7%, 40.7% 68.7%);
  }
  
  .first-floor{
    clip-path: polygon(53.1% 76.6%, 40.3% 76.6%, 40.3% 77.1%, 31.1% 77.1%, 31.1% 75.7%, 40.7% 70.9%, 40.7% 69.1%, 53.1% 69.1%, 53.1% 76.6%);
  }

  .garage-1{
    clip-path: polygon(53.05% 84.6%, 53.05% 77.2%, 41.2% 77.2%, 41.2% 77.7%, 31.1% 77.7%, 31.1% 84.6%, 53.05% 84.6%);
  }

  .garage-2{
    clip-path: polygon(53.05% 91%, 53.05% 85%, 31.1% 85%, 31.1% 91%);
  }


  /* apps */

  .app-A1 {
    clip-path: polygon(22.7% 45.4%, 22.7% 61.1%, 19.8% 61.1%, 19.7% 70.6%, 06.6% 70.7%, 08.5% 26.0%, 14.7% 26.0%, 14.8% 37.2%, 22.8% 37.1%);
  }

  .app-A2-1 {
    clip-path: polygon(48.8% 70.5%, 35.0% 70.6%, 34.9% 65.6%, 33.3% 65.6%, 33.3% 55.7%, 32.1% 55.7%, 32.1% 45.4%, 48.8% 45.4%, 48.8% 70.5%);
  }

  .app-B3-1 {
    clip-path: polygon(49.2% 70.7%, 63.1% 70.7%, 63.1% 65.7%, 64.7% 65.7%, 64.6% 55.7%, 66.1% 55.7%, 66.0% 45.4%, 49.2% 45.5%, 49.2% 70.7%);
  }

  .app-A4 {
    clip-path: polygon(22.7% 57.8%, 22.7% 40.6%, 14.7% 40.7%, 14.7% 19.5%, 08.4% 19.5%, 06.6% 68.0%, 19.7% 68.0%, 19.7% 57.8%, 22.7% 57.8%);
  }

  .app-A5 {
    clip-path: polygon(25.8% 39.6%, 26.0% 51.6%, 29.1% 51.4%, 29.1% 68.1%, 35.0% 68.1%, 34.9% 60.1%, 37.2% 60.1%, 37.2% 48.4%, 38.1% 48.4%, 38.1% 40.6%, 35.4% 40.6%, 35.4% 39.6%, 25.8% 39.6%);
  }

  .app-A2-2 {
    clip-path: polygon(48.7% 39.7%, 48.8% 68.1%, 35.4% 68.1%, 35.4% 61.0%, 37.7% 61.0%, 37.7% 49.3%, 38.7% 49.3%, 38.7% 41.6%, 39.2% 41.6%, 39.2% 40.7%, 41.6% 40.7%, 41.6% 39.6%, 48.7% 39.7%);
  }

  .app-B3-2 {
    clip-path: polygon(49.2% 68.1%, 49.2% 39.6%, 56.5% 39.6%, 56.5% 40.6%, 58.9% 40.6%, 58.9% 41.5%, 59.4% 41.5%, 59.4% 49.3%, 60.4% 49.3%, 60.4% 61.0%, 62.5% 61.0%, 62.5% 68.1%, 49.2% 68.1%);
  }

  .app-B6 {
    clip-path: polygon(63.3% 68.0%, 63.3% 66.1%, 63.1% 66.1%, 63.1% 60.1%, 60.9% 60.1%, 60.9% 48.4%, 60.0% 48.4%, 60.0% 41.6%, 60.3% 41.6%, 60.3% 40.7%, 62.7% 40.7%, 62.7% 39.6%, 72.1% 39.6%, 72.1% 51.3%, 69.0% 51.4%, 69.0% 68.0%, 63.3% 68.0%);
  }

  .app-B7 {
    clip-path: polygon(75.5% 57.9%, 75.4% 46.8%, 86.7% 46.8%, 86.7% 47.7%, 92.5% 47.7%, 93.2% 68.0%, 78.4% 68.1%, 78.3% 57.9%, 75.5% 57.9%);
  }

  .app-A8 {
    clip-path: polygon(22.8% 39.7%, 22.8% 57.9%, 19.7% 57.9%, 19.6% 73.1%, 9.1% 73.1%, 9.1% 68.2%, 06.6% 68.2%, 08.4% 19.5%, 14.8% 19.7%, 14.7% 39.7%, 22.8% 39.7%);
  }
  
  .app-A9 {
    clip-path: polygon(25.9% 39.7%, 35.3% 39.7%, 35.2% 40.7%, 41.6% 40.7%, 41.6% 39.7%, 48.7% 39.7%, 48.8% 71.5%, 41.5% 71.4%, 41.5% 72.5%, 35.5% 72.5%, 35.5% 73.1%, 35.0% 73.0%, 35.0% 71.5%, 29.1% 71.5%, 29.1% 51.9%, 25.9% 51.9%, 25.9% 39.7%);
  }

  .app-B10 {
    clip-path: polygon(49.3% 39.7%, 49.2% 71.5%, 56.5% 71.5%, 56.5% 72.6%, 62.5% 72.6%, 62.5% 73.3%, 63.1% 73.3%, 63.1% 71.5%, 69.0% 71.5%, 69.0% 51.6%, 72.1% 51.4%, 72.1% 39.6%, 62.7% 39.7%, 62.7% 40.6%, 56.5% 40.6%, 56.5% 39.7%, 49.3% 39.7%);
  }

  .app-B11 {
    clip-path: polygon(75.4% 57.9%, 75.3% 46.7%, 86.7% 46.7%, 86.7% 47.8%, 92.6% 47.8%, 93.3% 68.2%, 90.7% 68.2%, 90.7% 72.9%, 86.4% 72.9%, 86.4% 73.3%, 78.3% 73.3%, 78.3% 57.9%, 75.4% 57.9%);
  }

  .app-A12 {
    clip-path: polygon(22.8% 39.7%, 22.8% 57.9%, 19.7% 57.9%, 19.6% 73.1%, 9.1% 73.1%, 9.1% 68.2%, 06.6% 68.2%, 08.4% 19.5%, 14.8% 19.7%, 14.7% 39.7%, 22.8% 39.7%);
  }

  .app-A13 {
    clip-path: polygon(25.9% 39.7%, 35.3% 39.7%, 35.2% 40.7%, 41.6% 40.7%, 41.6% 39.7%, 48.7% 39.7%, 48.8% 71.5%, 41.5% 71.4%, 41.5% 72.5%, 35.5% 72.5%, 35.5% 73.1%, 35.0% 73.0%, 35.0% 71.5%, 29.1% 71.5%, 29.1% 51.9%, 25.9% 51.9%, 25.9% 39.7%);
  }

  .app-B14 {
    clip-path: polygon(49.3% 39.7%, 49.2% 71.5%, 56.5% 71.5%, 56.5% 72.6%, 62.5% 72.6%, 62.5% 73.3%, 63.1% 73.3%, 63.1% 71.5%, 69.0% 71.5%, 69.0% 51.6%, 72.1% 51.4%, 72.1% 39.6%, 62.7% 39.7%, 62.7% 40.6%, 56.5% 40.6%, 56.5% 39.7%, 49.3% 39.7%);
  }

  .app-B15 {
    clip-path: polygon(75.4% 57.9%, 75.3% 46.7%, 86.7% 46.7%, 86.7% 47.8%, 92.6% 47.8%, 93.3% 68.2%, 90.7% 68.2%, 90.7% 72.9%, 86.4% 72.9%, 86.4% 73.3%, 78.3% 73.3%, 78.3% 57.9%, 75.4% 57.9%);
  }

  .app-A16 {
    clip-path: polygon(22.8% 39.7%, 22.8% 57.9%, 19.7% 57.9%, 19.6% 73.1%, 9.1% 73.1%, 9.1% 68.2%, 06.6% 68.2%, 08.4% 19.5%, 14.8% 19.7%, 14.7% 39.7%, 22.8% 39.7%);
  }

  .app-A17 {
    clip-path: polygon(25.9% 39.7%, 35.3% 39.7%, 35.2% 40.7%, 41.6% 40.7%, 41.6% 39.7%, 48.7% 39.7%, 48.8% 71.5%, 41.5% 71.4%, 41.5% 72.5%, 35.5% 72.5%, 35.5% 73.1%, 35.0% 73.0%, 35.0% 71.5%, 29.1% 71.5%, 29.1% 51.9%, 25.9% 51.9%, 25.9% 39.7%);
  }

  .app-B18 {
    clip-path: polygon(49.3% 39.7%, 49.2% 71.5%, 56.5% 71.5%, 56.5% 72.6%, 62.5% 72.6%, 62.5% 73.3%, 63.1% 73.3%, 63.1% 71.5%, 69.0% 71.5%, 69.0% 51.6%, 72.1% 51.4%, 72.1% 39.6%, 62.7% 39.7%, 62.7% 40.6%, 56.5% 40.6%, 56.5% 39.7%, 49.3% 39.7%);
  }

  .app-B19 {
    clip-path: polygon(75.4% 57.9%, 75.3% 46.7%, 86.7% 46.7%, 86.7% 47.8%, 92.6% 47.8%, 93.3% 68.2%, 90.7% 68.2%, 90.7% 72.9%, 86.4% 72.9%, 86.4% 73.3%, 78.3% 73.3%, 78.3% 57.9%, 75.4% 57.9%);
  }

  .app-A20 {
    clip-path: polygon(22.8% 39.7%, 22.8% 57.9%, 19.7% 57.9%, 19.6% 73.1%, 9.1% 73.1%, 9.1% 68.2%, 06.6% 68.2%, 08.4% 19.5%, 14.8% 19.7%, 14.7% 39.7%, 22.8% 39.7%);
  }

  .app-A21 {
    clip-path: polygon(25.9% 39.7%, 35.3% 39.7%, 35.2% 40.7%, 41.6% 40.7%, 41.6% 39.7%, 48.7% 39.7%, 48.8% 71.5%, 41.5% 71.4%, 41.5% 72.5%, 35.5% 72.5%, 35.5% 73.1%, 35.0% 73.0%, 35.0% 71.5%, 29.1% 71.5%, 29.1% 51.9%, 25.9% 51.9%, 25.9% 39.7%);
  }

  .app-B22 {
    clip-path: polygon(49.3% 39.7%, 49.2% 71.5%, 56.5% 71.5%, 56.5% 72.6%, 62.5% 72.6%, 62.5% 73.3%, 63.1% 73.3%, 63.1% 71.5%, 69.0% 71.5%, 69.0% 51.6%, 72.1% 51.4%, 72.1% 39.6%, 62.7% 39.7%, 62.7% 40.6%, 56.5% 40.6%, 56.5% 39.7%, 49.3% 39.7%);
  }

  .app-B23 {
    clip-path: polygon(75.4% 57.9%, 75.3% 46.7%, 86.7% 46.7%, 86.7% 47.8%, 92.6% 47.8%, 93.3% 68.2%, 90.7% 68.2%, 90.7% 72.9%, 86.4% 72.9%, 86.4% 73.3%, 78.3% 73.3%, 78.3% 57.9%, 75.4% 57.9%);
  }

  .app-A24 {
    clip-path: polygon(22.8% 39.7%, 22.8% 57.9%, 19.7% 57.9%, 19.6% 73.1%, 9.1% 73.1%, 9.1% 68.2%, 06.6% 68.2%, 08.4% 19.5%, 14.8% 19.7%, 14.7% 39.7%, 22.8% 39.7%);
  }

  .app-A25 {
    clip-path: polygon(25.9% 39.7%, 35.3% 39.7%, 35.2% 40.7%, 41.6% 40.7%, 41.6% 39.7%, 48.7% 39.7%, 48.8% 71.5%, 41.5% 71.4%, 41.5% 72.5%, 35.5% 72.5%, 35.5% 73.1%, 35.0% 73.0%, 35.0% 71.5%, 29.1% 71.5%, 29.1% 51.9%, 25.9% 51.9%, 25.9% 39.7%);
  }

  .app-B26 {
    clip-path: polygon(49.3% 39.7%, 49.2% 71.5%, 56.5% 71.5%, 56.5% 72.6%, 62.5% 72.6%, 62.5% 73.3%, 63.1% 73.3%, 63.1% 71.5%, 69.0% 71.5%, 69.0% 51.6%, 72.1% 51.4%, 72.1% 39.6%, 62.7% 39.7%, 62.7% 40.6%, 56.5% 40.6%, 56.5% 39.7%, 49.3% 39.7%);
  }

  .app-B27 {
    clip-path: polygon(75.4% 57.9%, 75.3% 46.7%, 86.7% 46.7%, 86.7% 47.8%, 92.6% 47.8%, 93.3% 68.2%, 90.7% 68.2%, 90.7% 72.9%, 86.4% 72.9%, 86.4% 73.3%, 78.3% 73.3%, 78.3% 57.9%, 75.4% 57.9%);
  }

  .app-A28 {
    clip-path: polygon(22.8% 39.7%, 22.8% 57.9%, 19.7% 57.9%, 19.6% 73.1%, 9.1% 73.1%, 9.1% 68.2%, 06.6% 68.2%, 08.4% 19.5%, 14.8% 19.7%, 14.7% 39.7%, 22.8% 39.7%);
  }

  .app-A29-1 {
    clip-path: polygon(25.9% 39.7%, 35.3% 39.7%, 35.2% 40.7%, 41.6% 40.7%, 41.6% 39.7%, 48.7% 39.7%, 48.8% 72.6%, 41.5% 72.6%, 41.5% 72.5%, 35.5% 72.5%, 35.5% 73.1%, 35.0% 73.0%, 35.0% 71.5%, 29.1% 71.5%, 29.1% 51.9%, 25.9% 51.9%, 25.9% 39.7%);
  }

  .app-B30-1 {
    clip-path: polygon(49.3% 39.7%, 49.2% 72.6%, 56.5% 72.6%, 56.5% 72.6%, 62.5% 72.6%, 62.5% 73.3%, 63.1% 73.3%, 63.1% 71.5%, 69.0% 71.5%, 69.0% 51.6%, 72.1% 51.4%, 72.1% 39.6%, 62.7% 39.7%, 62.7% 40.6%, 56.5% 40.6%, 56.5% 39.7%, 49.3% 39.7%);
  }

  .app-B31 {
    clip-path: polygon(75.4% 57.9%, 75.3% 46.7%, 86.7% 46.7%, 86.7% 47.8%, 92.6% 47.8%, 93.3% 68.2%, 90.7% 68.2%, 90.7% 72.9%, 86.4% 72.9%, 86.4% 73.3%, 78.3% 73.3%, 78.3% 57.9%, 75.4% 57.9%);
  }

  .app-A29-2 {
    clip-path: polygon(48.8% 65.8%, 29.3% 65.8%, 29.3% 67.6%, 26.4% 67.6%, 26.4% 70.1%, 20.8% 72.6%, 09.1% 72.6%, 09.1% 67.5%, 07.0% 67.5%, 08.7% 20.2%, 14.3% 20.2%, 14.3% 40.2%, 22.4% 40.2%, 22.4% 44.4%, 25.9% 44.4%, 25.9% 43.6%, 26.4% 43.6%, 26.4% 40.2%, 48.9% 40.2%, 48.8% 65.8%);
  }

  .app-B30-2 {
    clip-path: polygon(49.1% 40.2%, 71.7% 40.3%, 71.7% 43.5%, 72.3% 43.5%, 72.3% 44.2%, 75.9% 44.2%, 75.9% 47.3%, 86.3% 47.3%, 86.3% 48.3%, 92.1% 48.3%, 92.8% 67.3%, 90.7% 67.3%, 90.7% 72.5%, 77.3% 72.5%, 71.8% 70.4%, 71.8% 67.6%, 68.7% 67.6%, 68.6% 65.7%, 49.0% 65.7%, 49.1% 40.2%);
  }
  
  /* parking */

  .parking-1 {
    clip-path: polygon(14.2% 68.8%, 07.2% 68.8%, 08.1% 45.0%, 14.2% 45.0%, 14.2% 68.8%);
  }

  .parking-2 {
    clip-path: polygon(14.4% 68.8%, 14.5% 53.8%, 14.7% 53.8%, 14.7% 44.9%, 22.3% 44.9%, 22.3% 59%, 19.1% 59%, 19.2% 68.8%, 14.4% 68.8%);
  }

  .parking-3 {
    clip-path: polygon(29.5% 68.8%, 29.5% 44.9%, 35.2% 44.9%, 35.2% 68.8%, 29.5% 68.8%);
  }

  .parking-4 {
    clip-path: polygon(41.8% 68.8%, 41.8% 44.9%, 35.4% 44.9%, 35.4% 68.8%, 41.8% 68.8%);
  }

  .parking-5 {
    clip-path: polygon(42.1% 68.8%, 48.8% 68.8%, 48.7% 44.9%, 42.0% 44.9%, 42.1% 68.8%);
  }

  .parking-6 {
    clip-path: polygon(49.2% 68.8%, 55.9% 68.8%, 55.9% 44.9%, 49.2% 44.9%, 49.2% 68.8%);
  }
  
  .parking-7 {
    clip-path: polygon(56.2% 68.7%, 62.6% 68.8%, 62.5% 44.9%, 56.2% 44.9%, 56.2% 68.7%);
  }

  .parking-8 {
    clip-path: polygon(62.7% 68.8%, 62.7% 44.8%, 68.4% 44.8%, 68.5% 68.8%, 62.7% 68.8%);
  }
  
  .parking-9 {
    clip-path: polygon(09.5% 09.8%, 15.3% 09.8%, 15.2% 23.6%, 14.2% 23.6%, 14.2% 27.6%, 08.8% 27.6%, 09.5% 09.8%);
  }

  .parking-10 {
    clip-path: polygon(21.1% 27.6%, 21.1% 09.8%, 15.5% 09.8%, 15.6% 24.1%, 14.7% 24.1%, 14.6% 27.6%, 21.1% 27.6%);
  }

  .parking-11 {
    clip-path: polygon(21.4% 27.6%, 21.4% 09.8%, 26.8% 09.8%, 26.8% 27.6%, 21.4% 27.6%);
  }

  .parking-12 {
    clip-path: polygon(14.2% 68.8%, 07.2% 68.8%, 08.1% 45.0%, 14.2% 45.0%, 14.2% 68.8%);
  }

  .parking-13 {
    clip-path: polygon(14.4% 68.8%, 14.5% 53.8%, 14.7% 53.8%, 14.7% 44.9%, 22.3% 44.9%, 22.3% 59%, 19.1% 59%, 19.2% 68.8%, 14.4% 68.8%);
  }

  .parking-14 {
    clip-path: polygon(29.5% 68.8%, 29.5% 44.9%, 35.2% 44.9%, 35.2% 68.8%, 29.5% 68.8%);
  }

  .parking-15 {
    clip-path: polygon(41.8% 68.8%, 41.8% 44.9%, 35.4% 44.9%, 35.4% 68.8%, 41.8% 68.8%);
  }

  .parking-16 {
    clip-path: polygon(42.1% 68.8%, 48.8% 68.8%, 48.7% 44.9%, 42.0% 44.9%, 42.1% 68.8%);
  }

  .parking-17 {
    clip-path: polygon(49.2% 68.8%, 55.9% 68.8%, 55.9% 44.9%, 49.2% 44.9%, 49.2% 68.8%);
  }
  
  .parking-18 {
    clip-path: polygon(56.2% 68.7%, 62.6% 68.8%, 62.5% 44.9%, 56.2% 44.9%, 56.2% 68.7%);
  }

  .parking-19 {
    clip-path: polygon(62.7% 68.8%, 62.7% 44.8%, 68.4% 44.8%, 68.5% 68.8%, 62.7% 68.8%);
  }
  
  .parking-20 {
    clip-path: polygon(09.5% 09.8%, 15.3% 09.8%, 15.2% 23.6%, 14.2% 23.6%, 14.2% 27.6%, 08.8% 27.6%, 09.5% 09.8%);
  }

  .parking-21 {
    clip-path: polygon(21.1% 27.6%, 21.1% 09.8%, 15.5% 09.8%, 15.6% 24.1%, 14.7% 24.1%, 14.6% 27.6%, 21.1% 27.6%);
  }

  .parking-22 {
    clip-path: polygon(21.4% 27.6%, 21.4% 09.8%, 26.8% 09.8%, 26.8% 27.6%, 21.4% 27.6%);
  }

  /* maze */

  .maze-1 {
    clip-path: polygon(86.4% 48%, 89.2% 48%, 89.2% 53.2%, 86.4% 53.3%, 86.4% 47.9%);
  }

  .maze-2 {
    clip-path: polygon(86.4% 53.8%, 89.2% 53.8%, 89.2% 60%, 86.4% 60%, 86.4% 53.8%);
  }

  .maze-3 {
    clip-path: polygon(75.8% 59.0%, 78.3% 59.0%, 78.3% 49.8%, 75.8% 49.8%, 75.8% 59.0%);
  }

  .technichesko {
    clip-path: polygon(86.4% 60.5%, 89.2% 60.5%, 89.2% 68.8%, 86.4% 68.8%, 86.4% 60.5%);
  }

  .maze-4 {
    clip-path: polygon(86.4% 48%, 89.2% 48%, 89.2% 53.2%, 86.4% 53.3%, 86.4% 47.9%);
  }

  .maze-5 {
    clip-path: polygon(86.4% 53.8%, 86.4% 58.4%, 89.2% 58.4%, 89.2% 53.7%, 86.3% 53.8%);
  }

  .maze-6 {
    clip-path: polygon(86.4% 58.9%, 89.2% 58.9%, 89.2% 64.3%, 86.4% 64.3%, 86.4% 58.9%);
  }

  .maze-7 {
    clip-path: polygon(86.4% 64.7%, 86.4% 68.8%, 92.7% 68.8%, 92.5% 64.8%, 86.4% 64.7%);
  }

  .maze-8 {
    clip-path: polygon(75.8% 59.0%, 78.3% 59.0%, 78.3% 49.8%, 75.8% 49.8%, 75.8% 59.0%);
  }
}
